.index_item {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #6091d3;/*•¶šF*/
    background: #FFF;
    border: solid 4px #6091d3;/*ü*/
    border-radius: 10px;/*Šp‚ÌŠÛ‚İ*/
}