{% extends 'app/base.html' %}

{% block content %}

<h2>マイリスト</h2>
{% load static %}
{% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"> {% endcomment %}
{% comment %} <link rel="stylesheet"  href="{% static 'css/style.css' %}"> {% endcomment %}
{% comment %} <link rel="stylesheet" type="text/css" href="staticfiles/css/style.css"> {% endcomment %}
{% for shop in shops %}
<div class="index_item">
<a href="{% url 'app:shops_detail' shop.id %}">
    <p><img src="{{shop.state.symbol}}" width="20" height="20" class="shop-photo"> 
    {{shop.evaluate}} &emsp;  {{shop.name}}</p>
    {% comment %} <p>{{shop.evaluate}}</p> {% endcomment %}
    <p>{{shop.station}}</p>
    <p>{{shop.genre}}</p>    
    <p>{{shop.comment}}</p>
    {% comment %} {% if shop.photo  %}
    <img src="{{ shop.photo.url }}"  width="193" height="130" class="shop-photo">
    {% else %}
    <img src="/static/photos/no_image.png"  width="193" height="130" class="shop-photo">    
    {% endif %} {% endcomment %}
    {% comment %} <img src="data:image/jpeg;base64,{{shop.photo_binary}}}  width="193" height="130" class="shop-photo">     {% endcomment %}
</div>
{% endfor %}

{% endblock %}