<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS=false; L_NO_TOUCH=false; L_DISABLE_3D=false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
    <meta name="viewport" content="width=device-width,
        initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <style>#map_03a5814c5c5944e49d8c1f4484f96d83 {
        position: relative;
        width: 100.0%;
        height: 100.0%;
        left: 0.0%;
        top: 0.0%;
        }
    </style>
</head>
<body>    
    
    <div class="folium-map" id="map_03a5814c5c5944e49d8c1f4484f96d83" ></div>
</body>
<script>    
    
    
        var bounds = null;
    

    var map_03a5814c5c5944e49d8c1f4484f96d83 = L.map(
        'map_03a5814c5c5944e49d8c1f4484f96d83', {
        center: [35.691108, 139.702107],
        zoom: 15,
        maxBounds: bounds,
        layers: [],
        worldCopyJump: false,
        crs: L.CRS.EPSG3857,
        zoomControl: true,
        });


    
    var tile_layer_8a39cb17319846fcb63d729ca658191e = L.tileLayer(
        'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        {
        "attribution": null,
        "detectRetina": false,
        "maxNativeZoom": 18,
        "maxZoom": 18,
        "minZoom": 0,
        "noWrap": false,
        "opacity": 1,
        "subdomains": "abc",
        "tms": false
}).addTo(map_03a5814c5c5944e49d8c1f4484f96d83);
    
        var marker_759d7e4b156240bf925f32dd2559ba94 = L.marker(
            [35.691108, 139.702107],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_03a5814c5c5944e49d8c1f4484f96d83);
        
    

                var icon_0447393207f049a4ac392f0942683ed2 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_759d7e4b156240bf925f32dd2559ba94.setIcon(icon_0447393207f049a4ac392f0942683ed2);
            
    
            var popup_fb76181b92dc43d5a38e21f93b1ca932 = L.popup({maxWidth: '100%'
            
            });

            
                var html_a387a50def2b45fc930d766de6d3e426 = $(`<div id="html_a387a50def2b45fc930d766de6d3e426" style="width: 100.0%; height: 100.0%;">評価：3.25<br>京町恋しぐれ 新宿 本館<br>ラーメン<br>昼：<br>夜：<br><a href="https://tabelog.com/tokyo/A1304/A130401/13000842/" target="_blank">お店の詳細を見る</a></div>`)[0];
                popup_fb76181b92dc43d5a38e21f93b1ca932.setContent(html_a387a50def2b45fc930d766de6d3e426);
            

            marker_759d7e4b156240bf925f32dd2559ba94.bindPopup(popup_fb76181b92dc43d5a38e21f93b1ca932)
            ;

            
        
    
        var marker_826d45e86e454574a3dd1ce14ed03779 = L.marker(
            [35.695485, 139.698058],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_03a5814c5c5944e49d8c1f4484f96d83);
        
    

                var icon_6b286cf3642e490d94f2d092a0cc4369 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_826d45e86e454574a3dd1ce14ed03779.setIcon(icon_6b286cf3642e490d94f2d092a0cc4369);
            
    
            var popup_dba0e4c051d94226a1a447c756989fba = L.popup({maxWidth: '100%'
            
            });

            
                var html_a14936b37e464b5ab13defea46263ece = $(`<div id="html_a14936b37e464b5ab13defea46263ece" style="width: 100.0%; height: 100.0%;">評価：3.64<br>えびそば 一幻 新宿店<br>ラーメン<br>昼：～￥999<br>夜：～￥999<br><a href="https://tabelog.com/tokyo/A1304/A130401/13163054/" target="_blank">お店の詳細を見る</a></div>`)[0];
                popup_dba0e4c051d94226a1a447c756989fba.setContent(html_a14936b37e464b5ab13defea46263ece);
            

            marker_826d45e86e454574a3dd1ce14ed03779.bindPopup(popup_dba0e4c051d94226a1a447c756989fba)
            ;

            
        
</script>