<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS=false; L_NO_TOUCH=false; L_DISABLE_3D=false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
    <meta name="viewport" content="width=device-width,
        initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <style>#map_9920dedd57bd43e49caa2706672cfa5f {
        position: relative;
        width: 100.0%;
        height: 100.0%;
        left: 0.0%;
        top: 0.0%;
        }
    </style>
</head>
<body>    
    
    <div class="folium-map" id="map_9920dedd57bd43e49caa2706672cfa5f" ></div>
</body>
<script>    
    
    
        var bounds = null;
    

    var map_9920dedd57bd43e49caa2706672cfa5f = L.map(
        'map_9920dedd57bd43e49caa2706672cfa5f', {
        center: [35.691108, 139.702107],
        zoom: 15,
        maxBounds: bounds,
        layers: [],
        worldCopyJump: false,
        crs: L.CRS.EPSG3857,
        zoomControl: true,
        });


    
    var tile_layer_9195c9c782824bdd9d4f80228b7e1733 = L.tileLayer(
        'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        {
        "attribution": null,
        "detectRetina": false,
        "maxNativeZoom": 18,
        "maxZoom": 18,
        "minZoom": 0,
        "noWrap": false,
        "opacity": 1,
        "subdomains": "abc",
        "tms": false
}).addTo(map_9920dedd57bd43e49caa2706672cfa5f);
    
        var marker_c98c88cc221e43c6a7257d1e8e4a04b2 = L.marker(
            [35.691108, 139.702107],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_9920dedd57bd43e49caa2706672cfa5f);
        
    

                var icon_b7430095a9d845cf879750ee7ff74107 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_c98c88cc221e43c6a7257d1e8e4a04b2.setIcon(icon_b7430095a9d845cf879750ee7ff74107);
            
    
            var popup_8ac26c4016a84bcc889d7f89d5e7bb59 = L.popup({maxWidth: '100%'
            
            });

            
                var html_9679dc2fb0704ff58f5cde137ccebf94 = $(`<div id="html_9679dc2fb0704ff58f5cde137ccebf94" style="width: 100.0%; height: 100.0%;">評価：3.25<br>京町恋しぐれ 新宿 本館<br>ラーメン<br>昼：<br>夜：<br><a href="https://tabelog.com/tokyo/A1304/A130401/13000842/" target="_blank">お店の詳細を見る</a></div>`)[0];
                popup_8ac26c4016a84bcc889d7f89d5e7bb59.setContent(html_9679dc2fb0704ff58f5cde137ccebf94);
            

            marker_c98c88cc221e43c6a7257d1e8e4a04b2.bindPopup(popup_8ac26c4016a84bcc889d7f89d5e7bb59)
            ;

            
        
    
        var marker_82609fc564ea44959069c927b8832185 = L.marker(
            [35.695485, 139.698058],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_9920dedd57bd43e49caa2706672cfa5f);
        
    

                var icon_285f70bc5d3f43cf9596c19194ea13e4 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_82609fc564ea44959069c927b8832185.setIcon(icon_285f70bc5d3f43cf9596c19194ea13e4);
            
    
            var popup_a6e816e8334d4fb291851487cdd1c20f = L.popup({maxWidth: '100%'
            
            });

            
                var html_2e44cfc294e94c699cb6c8e8b670243e = $(`<div id="html_2e44cfc294e94c699cb6c8e8b670243e" style="width: 100.0%; height: 100.0%;">評価：3.64<br>えびそば 一幻 新宿店<br>ラーメン<br>昼：～￥999<br>夜：～￥999<br><a href="https://tabelog.com/tokyo/A1304/A130401/13163054/" target="_blank">お店の詳細を見る</a></div>`)[0];
                popup_a6e816e8334d4fb291851487cdd1c20f.setContent(html_2e44cfc294e94c699cb6c8e8b670243e);
            

            marker_82609fc564ea44959069c927b8832185.bindPopup(popup_a6e816e8334d4fb291851487cdd1c20f)
            ;

            
        
</script>