{% extends 'app/base.html' %}

{% block content %}

<div>
    <a href="{% url 'app:index' %}">ホームに戻る</a>
</div>



	<form action="{% url 'app:shops_new' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
	<button type="submit" class="btn">検索</button>
    <table>
        <tr>
            <th>店名</th>
            <td>{{ shop.name }}</td>
        </tr>
        <tr>
            <th>店名</th>
            <td>{{ form.name }}</td>
        </tr>        
        <tr>
            <th>評価</th>
            <td>{{ shop.evaluate }}</td>
        </tr>
        <tr>
            <th>評価</th>
            <td>{{ form.evaluate }}</td>
        </tr>        
        <tr>
            <th>駅</th>
            <td>{{ shop.station }}</td>
        </tr>
        <tr>
            <th>ジャンル</th>
            <td>{{ shop.genre }}</td>
        </tr>
        <tr>
            <th>URL</th>
            <td>{{ shop.url }}</td>
        </tr>        
    </table>
    <button type="submit" class="btn">保存</button>
{% endblock %}